auto-save-list/
tmp/
elpa/
url/
.python-environments/
recentf
tramp
.mc-lists.el
var/
semanticdb/
projectile-bookmarks.eld
projectile.cache
ede-projects.el
irony/
compile_commands.json
bookmarks
configuration.el
configuration.html
.persistent-scratch
eshell/
places
speed-type/
persp-confs/
.sx/
.historian
transient/
games/
abbrev_defs
.org-id-locations
*.BAK
.cache/
.lsp-session*
